*{
    padding: 0;
    margin: 0;
    box-sizing: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("photo-1580655653885-65763b2597d0.avif")

}




.title h1{
    display:flex;
    justify-content: center;
    margin: 15px 10px;
    color: #009B8A;

}

.title h2{
    display: flex;
    margin: 15px;
    justify-content: center;
    color: #009B8A;
}


#firstGroupInputs{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;

}

#secondGroupInputs{
    display: flex;
    margin: 50px;
    width: 150%;
    color:white;
}

#thirdGroupInputs{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    color: white;
}
